<div>
    <h2>Current Temperature</h2>
    <p>Pune : {{currentTemperature.pune}} </p>
    <p>Pune : {{currentTemperature.pune | temp : 'c'}} </p>

    <p>Mumbai : {{currentTemperature.mumbai }} </p>
    <p>Mumbai : {{currentTemperature.mumbai | temp:'c':'f' }} </p>
    <p>Delhi : {{currentTemperature.delhi}} </p>
    <p>Kolkata : {{currentTemperature.kolkata}} </p>
</div>

<hr>
<h2>Historic Temperature of Pune</h2>
<ul>
    @for(t of  historicTemperatures | sort:'desc'; track $index){
        <li (click) = "reset($index)">{{t | temp :'c':'f'}}</li>
    }
</ul>
