
    <h2>Add Task for user {{userId()}}</h2>
    <form (ngSubmit)="onAddTask()">
        <p>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="title" >
        </p>
        <p>
            <label for="summary">Summary</label>
            <textarea id="summary" name="summary" rows="5" [(ngModel)]="summary"></textarea>
        </p>
        <p>
            <label for="due-date">Due Date</label>
            <input type="date" id="due-date" name="due-date" [(ngModel)]="dueDate">
        </p>

        <p class="actions">
            <button type="button" routerLink="../">Cancel</button>
            <button type="submit">Create</button>
        </p>

    </form>
